@charset "UTF-8";
/*All color
#ffffff – Trắng
#5752ae – Tím đậm
#dfeafc – Xanh nhạt
#fffffe – Trắng gần như tuyệt đối
#edebff – Tím nhạt
#f8e9ff – Hồng nhạt
#ffeaf3 – Hồng pastel
#5752ad – Biến thể của tím đậm
#5752ac – Biến thể khác của tím đậm
#feffff – Gần như trắng
*/
.page__cover {
  display: flex;
  flex-direction: row; }

#toggleSound {
  bottom: 50px;
  right: 120px; }

.up__page {
  bottom: 50px;
  right: 50px; }

.bottom-option-btn {
  position: fixed;
  bottom: 50px;
  right: 50px;
  width: 50px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  border-radius: 50%;
  background-color: #5752ae;
  color: #feffff;
  opacity: 0.6; }
  .bottom-option-btn i {
    font-size: 16px; }
  .bottom-option-btn:hover {
    opacity: 1; }

.left__nav {
  background-color: #5752ac;
  width: 300px;
  height: 100vh;
  min-height: 400px;
  display: flex;
  flex-direction: column;
  justify-content: space-between; }

.left__nav .logo-page {
  padding: 40px 0; }
  .left__nav .logo-page .title {
    color: #ffffff;
    font-size: 30px;
    text-align: center;
    text-transform: uppercase; }

.left__nav .list__menu {
  padding-left: 50px;
  margin-top: 20px; }
  .left__nav .list__menu i {
    margin-right: 15px; }
  .left__nav .list__menu li.item {
    color: #ffffff;
    padding: 20px 30px;
    font-size: 17px;
    text-transform: capitalize;
    font-weight: 600;
    border-top-left-radius: 30px;
    border-bottom-left-radius: 30px;
    cursor: pointer; }
  .left__nav .list__menu li.active {
    background-color: #dfeafc;
    color: #5752ac; }

.left__nav .pic__art img {
  width: 100%; }

.resume__content {
  flex: 1;
  background-color: #dfeafc;
  padding: 0 50px; }

.resume__content .title-box {
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-color: #fffffe; }
  .resume__content .title-box h3 {
    color: #5752ac;
    font-size: 30px;
    margin: 30px 20px;
    border-right: 3px solid #5752ac;
    /* Giả lập con trỏ */
    white-space: nowrap;
    overflow: hidden;
    width: fit-content; }

.resume__content .more__option {
  margin-right: 20px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 30px 0; }
  .resume__content .more__option input {
    font-size: 18px;
    line-height: 40px;
    padding-left: 20px;
    padding-right: 10px;
    background-color: transparent;
    max-width: 150px;
    transition: all 0.3s ease-in-out; }
    .resume__content .more__option input:focus {
      max-width: 200px; }
  .resume__content .more__option .search__btn {
    width: 60px;
    display: flex;
    justify-content: right; }
  .resume__content .more__option .search {
    background-color: #edebff;
    border-radius: 20px;
    overflow: hidden;
    display: flex;
    justify-content: space-between;
    flex-direction: row; }
  .resume__content .more__option button {
    height: 40px;
    width: 40px;
    background-color: #5752ad;
    border-radius: 50%;
    color: #fffffe;
    transition: all 0.3s ease-in-out; }
    .resume__content .more__option button:hover {
      width: 60px;
      border-radius: 20px; }
  .resume__content .more__option .logout_icon {
    margin-left: 30px;
    cursor: pointer; }
    .resume__content .more__option .logout_icon i {
      color: #5752ad;
      font-size: 25px; }

.resume__content .main__content {
  display: flex;
  flex-direction: row;
  margin-top: 50px; }
  .resume__content .main__content .primary__content {
    flex: 1;
    margin-right: 50px; }
  .resume__content .main__content .ads__content {
    width: 350px;
    background-color: #edebff; }

.primary__content .profile__inf {
  display: flex;
  justify-content: space-between;
  background-color: #feffff;
  border-radius: 15px;
  padding: 20px; }
  .primary__content .profile__inf .avatar {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    background-color: white;
    overflow: hidden; }
    .primary__content .profile__inf .avatar img {
      width: 100%;
      object-fit: cover; }
  .primary__content .profile__inf .profile__inf_main {
    display: flex;
    flex-direction: row;
    align-items: center; }
  .primary__content .profile__inf h3.name {
    color: #5752ae;
    font-size: 45px;
    margin-bottom: 20px; }
  .primary__content .profile__inf .title_inf {
    color: #6b6969;
    padding: 15px 0;
    font-weight: 600;
    font-size: 18px; }
    .primary__content .profile__inf .title_inf span {
      color: #5752ac;
      cursor: pointer; }
      .primary__content .profile__inf .title_inf span:hover {
        text-decoration: underline; }
  .primary__content .profile__inf ul.social__list {
    display: flex;
    flex-direction: row;
    padding: 7.5px 0 20px 0; }
    .primary__content .profile__inf ul.social__list li.social__icon + li.social__icon {
      margin-left: 20px; }
    .primary__content .profile__inf ul.social__list i {
      color: #5752ae;
      font-size: 20px; }
  .primary__content .profile__inf .my__inf {
    margin-left: 70px; }
  .primary__content .profile__inf .edit__icon i {
    font-size: 20px;
    cursor: pointer;
    opacity: 0.5; }
    .primary__content .profile__inf .edit__icon i:hover {
      opacity: 1; }

/*# sourceMappingURL=style.css.map */
